body {
    background-image: url("ud.jpeg");
    background-size: cover;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: bold;
    text-align: center;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    padding: 20px;
    box-sizing: border-box;
}

.legend-box {
    background-color: rgba(255, 255, 255, 0.8);
    border: 2px solid #333;
    border-radius: 10px;
    padding: 20px;
    max-width: 400px;
    width: 100%;
}

legend {
    background-color: #333;
    color: white;
    padding: 5px 10px;
    font-size: 1.2em;
    font-weight: bold;
    border-radius: 5px;
}

h1 {
    margin-top: 10px;
    margin-bottom: 10px;
}

h2 {
    font-size: 50px;
    margin-top: 0;
    margin-bottom: 20px;
}

button {
    border: none;
    padding-top: 10px;
    padding-bottom: 10px;
    color: white;
    font-weight: bold;
    width: 200px;
    margin-bottom: 5px;
    border-radius: 5px;
}

#increment-btn {
    background: gold;
}

#save-btn {
    background: palevioletred;
}

#reset-btn{
    background: darkorange;
}

